@import "../../../data/styles.css";

.about-container {
	padding-top: 35px;
	padding-bottom: 25px;
}

.about-header {
	display: flex;
	flex-direction: column-reverse;
}

.about-first-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about-first-area-left-side {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.about-title {
	width: 90% !important;
}

.about-subtitle {
	width: 90% !important;
	padding-top: 0px !important;
}

.about-first-area-right-side {
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-image-container {
	width: 370px;
	height: 370px;
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.about-image-wrapper {
	overflow: hidden;
	border-radius: 50%;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.about-image-wrapper img {
	width: 100%;
}

.about-socials {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;
	flex-wrap: wrap;
	width: 90%;
}

.about-social-icon {
	font-size: 25px;
	transition: color 0.2s ease-in-out;
	color: var(--secondary-color);
}

.about-social-icon:hover {
	color: var(--primary-color);
}

.about-after-title {
	display: flex;
	justify-content: center;
}

.about-projects {
	flex-basis: 300px;
	padding-top: 40px;
}

.about-experience {
	width: 100%;
	padding-top: 30px;
}

i {
	font-size: 32px;
	transition: transform 0.2s;
}

i:hover {
	transform: scale(1.5);
}

.skill-badge:hover {
	transform: scale(1.3);
}

@media (max-width: 1024px) {
	.about-first-area {
		flex-direction: column-reverse;
	}

	.about-after-title {
		flex-direction: column;
	}

	.about-projects {
		flex-basis: auto;
	}

	.about-experience {
		flex-basis: auto;
	}

	.about-title,
	.about-subtitle,
	.about-socials {
		width: 100% !important;
	}
}

@media (max-width: 450px) {
	.about-image-container {
		width: 250px;
		height: 250px;
		display: flex;
		justify-content: center;
	}

	.about-image-wrapper {
		overflow: hidden;
		border-radius: 50%;
	}

	.about-image-wrapper img {
		width: 100%;
	}

	i {
		font-size: 24px;
	}
}
