<css>
div.parent_hero {
  position: relative;
  width: 5px;
  height: 5px;
  text-align: centered;
}

div.child_hero {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 100%;
  height: 100px;
  color: black;
}

div.byline {
  font-size: 3vw;
}

p {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 5%;
  margin-left: 5%;
  font-size: 20px;
  text-indent: 3%;
  line-height: 1.5;
}

h1 {
  font-size: 6vw;
  color: black;
  margin-bottom: 1%;
}

h2 {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 5%;
  margin-left: 5%;
  font-size: 30px;
}

h2 span {
  background-color: #8AB1FF;
}

img {
  border: 3px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  line-height: 60px;
  font-size: 20px;
  font-weight: bold;
  padding: 0 20px;
  background: orange;
  border: none;
  text-decoration:none;
}

button:hover {
  background: #FBBF77;
}

</css>
