.contact-subtitle {
	width: 100% !important;
}

.contact-container {
	display: flex;
	justify-content: space-between;
}

.contact-text-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	font-family: var(--secondary-font);
	color: var(--secondary-color);
	font-size: 16px;
	width: 50%;
	line-height: 1.5;
}

.socials-container {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}

.contact-socials {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

@media screen and (max-width: 600px) {
	.contact-container {
		flex-direction: column;
	}
}
