<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  </head>
  <body>
<nav>
  <a href="/items" class="nav-index-link"><span class="nav-index-text"><span id="cart-logo" class="material-symbols-outlined">shopping_basket</span>&nbsp;My Shopping Pal</span></a>
  <a class="signout" href="/users/signout">Signout</a>
</nav>