<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
    <div class="homepage-container">
    <div class="homepage-flexbox">
    <h1 class="homepage-title">Welcome to My Shopping Pal!</h1>
    <p class="homepage-intro">This app allows you to create a personal shopping list any time you like, and then check off your items while you are at the store buying them. To get started, sign in or create an account below.</p>
    <div class="homepage-buttons">
    <a class="signin-link" href="/users/signin"><button class="signin-btn">Sign In</button></a>
    &nbsp;
    <a class="create-account-link" href="/users/register"><button class="create-account-btn">Create Account</button></a>
    </div>
    </div>
    </div>
</body>
</html>

