.all-projects-container {
	display: flex;
	flex-wrap: wrap;
	padding-top: 30px;
	flex-basis: 300px;
	padding-top: 25px;
	width: 100%;
}

.all-projects-project {
	width: 100%;
	box-sizing: border-box;
	padding-bottom: 20px;
}
