body {
    background-color: aliceblue;
    padding: 20px;
}

.title {
    text-align: center;
    margin-bottom: -5px;
}

h3 {
    color: grey;
}

.tip {
    text-align: center;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.controls, .scoreboard {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    width: 70vw;
    padding: 0px 20px 0px 20px;
}

.controls {
   align-items:center;
   margin-top: 20px;
}

button {
    height: 75px;
    width: 75px;
    border-radius: 75px;
}

button:hover {
    background-color: rgb(206, 206, 206);
}

#play-again-btn {
    width: initial;
    height: initial;
    border-radius: 10px;
}

.scoreboard {
    align-items: center;
    line-height: 2px;
}

.tamagotchi-area {
    width: 70vw;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    background-image: url("../imgs/bg.png");
    background-size:cover;
    border-radius: 25px;
}

.tamagotchi-picture {
    width: 200px;
}

#hatched {
    -webkit-animation: jump 0.5s ease-in-out infinite alternate;
    -moz-animation: jump 0.5s ease-in-out infinite alternate;
    animation: jump 0.5s ease-in-out infinite alternate;
}

/*Animations*/
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 1px rgba(0, 0, 0, 0), 0 0 2px rgba(0, 0, 0, 0), 0 0 3px #abc4ff, 0 0 4px #abc4ff, 0 0 5px #abc4ff;
    }
    to {
      text-shadow: 0 0 1px rgba(0, 0, 0, 0), 0 0 2px rgba(0, 0, 0, 0), 0 0 3px rgba(0, 0, 0, 0), 0 0 4px rgba(0, 0, 0, 0), 0 0 5px rgba(0, 0, 0, 0), 0 0;
    }
  }

@-webkit-keyframes jump {
    0% { transform: translateY(0); }
    100% { transform: translateY(18px); }
  }

  /*Mobile version*/
  @media only screen and (max-width: 700px) {
    .tamagotchi-area {
        width: 75vw;
        height: 25vh;
    }
    .controls, .scoreboard {
        flex-direction: row;
        flex-wrap:wrap;
        width: 90vw;
    }
    .controls {
        margin-top: 15px;
    }
  }
