/*Global styling*/
body {
    background-color: rgb(255, 253, 253);
    margin: 0px;
}

nav {
    text-align: center;
    background-color:#82A3FF;
    padding: 10px 30px 10px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#cart-logo {
    font-size: clamp(0.5rem, 5vw + 0.2rem, 3rem);
}

.nav-index-text, .signout {
    padding: 5px;
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-index-text {
    font-size: clamp(0.5rem, 5vw + 0.2rem, 3rem);
}

.signout {
    font-size: clamp(0.5rem, 3vw + 0.2rem, 2rem);
}

.nav-index-text:hover, .signout:hover {
    color: #e4e4e4;
}

.nav-index-link, .signout {
    text-decoration: none;
}

h1 {
    color: #82A3FF;
}

label {
    color: #82A3FF;
    font-weight: 700;
}

.checkbox-btn, .edit-btn, .add-btn {
    border: none;
    background-color: rgb(255, 253, 253);
}

.checkbox-btn {
    margin-top: 10px;
    font-size: 30px;
}

/*Checkbox default is for it to be an empty box*/
#checkbox-icon::before {
    content:"check_box_outline_blank";
    color: #82A3FF;
    font-size: clamp(0.5rem, 5vw + 0.2rem, 3rem);
}

/*checkbox hover state allows desktop users to see clicking will check it off*/
#checkbox-icon:hover::before {
    content:"check_box";
    color: #ff8a82;
}

/*checkbox active state (aka clicked) provided to show mobile users it was checked*/
#checkbox-icon:active::before {
    content:"check_box";
    color: #ff8a82;
}

/*Homepage styling*/
.homepage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.homepage-flexbox {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border:  3px #82A3FF;
    border-style: groove;
    border-radius: 5px;
    padding: 15px;
    background-image: linear-gradient(to bottom right, rgb(255, 253, 253), #dfe8fd);
}

.homepage-title {
    text-align: center;
    margin-bottom: -5px;
}

.homepage-intro {
    padding: 0% 10% 0% 10%;
    line-height: 24px;
    font-size: 20px;
}

.homepage-buttons{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;
}

.back-to-homepage-btn, .back-to-list-btn {
    margin: 20px 0px 0px 35px;
}

.signin-btn, .create-account-btn {
    font-size: 18px;
}

.signin-btn, .create-account-btn, .back-to-homepage-btn, .back-to-list-btn {
    height: 30px;
    border: solid 2px #82A3FF;
    border-radius: 5px;
    color: #82A3FF;
    background-color: rgb(255, 253, 253);
}

.signin-link, .create-account-link, .back-to-homepage-link, .back-to-list-link {
    text-decoration: none;
    color: #82A3FF;
}

.back-to-list-btn, .back-to-list-link {
    font-size: clamp(0.5rem, 3.5vw + 0.2rem, 1.75rem);
}

.back-to-list-btn {
    height: clamp(0.5rem, 5vw + 0.2rem, 3rem);
}

.signin-btn:hover, .create-account-btn:hover, .back-to-homepage-btn:hover, .back-to-list-btn:hover {
    background-color: #c9d7fc;
}

/*Sign in + register page styling (Same)*/
.signin-container, .register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signin-flexbox, .register-flexbox {
    width: 50vw;
    border:  3px #82A3FF;
    border-style: groove;
    border-radius: 5px;
    padding: 15px;
    margin-top: -100px;
    background-image: linear-gradient(to bottom right, rgb(255, 253, 253), #dfe8fd);
}

.signin-form, .register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #82A3FF;
    font-weight: 700;
    padding-bottom: 20px;
}

.signin-title, .register-title {
    text-align: center;
}

.signin-register-label {
    font-size: 20px;
}

.signin-username, .signin-password, .register-username, .register-password {
    width: 25vw;
    padding-left: 5px;
}

.signin-submit-btn, .register-submit-btn {
    margin: auto;
    height: 30px;
    border: solid 2px #82A3FF;
    border-radius: 5px;
    color: #82A3FF;
    background-color: rgb(255, 253, 253);
    font-size: 20px;
}

.signin-submit-btn:hover, .register-submit-btn:hover {
    background-color: #c9d7fc;
}

/*Index page styling*/
.index-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-item-list {
    width: 100vw;
    height: 70vh;
    overflow-x: scroll;
    overflow-y: scroll;
    list-style: none;
    padding-left: 0;
}

.index-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: -15px 0px -15px 25px;
}

.index-item-text {
    color: #82A3FF;
    font-size: clamp(0.5rem, 4vw + 0.2rem, 2.5rem);
    padding-left: 15px;
}

.index-item-text:hover {
    color: #5e89ff;
}

.index-add-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

hr {
    height: 2px;
    border: none;
    background-color: #e4e4e4;
}

.add-label {
    font-size: clamp(0.5rem, 4.5vw + 0.2rem, 2.75rem);
}

.add-input-field {
    height: clamp(0.5rem, 3vw + 0.2rem, 2rem);
    border: solid 2px #82A3FF;
    padding-left: 5px;
    font-size: clamp(1rem, 2vw + 0.2rem, 1.5rem);
}

.add-input-field::placeholder {
    font-size: clamp(1rem, 2vw + 0.2rem, 1.5rem);
}

.add-btn {
    margin-top: 7px;
}

#add-btn-icon {
    color: #82A3FF;
    font-size: clamp(0.5rem, 5.2vw + 0.2rem, 3.2rem);
    margin-top: -3px;
    margin-left: 2px;
} 

/*add button default color is blue*/
#add-btn-icon::before {
    color: #82A3FF;
}

/*add button hover state is green to allow desktop users to see clicking will add*/
#add-btn-icon:hover {
    color: #82ff82;
}

/*green add button active state (aka clicked) provided to show mobile users it was added*/
#add-btn-icon:active {
    color: #82ff82;
}

/*Show page styling*/
.show-flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -20px;
}

.show-name-actions-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.show-page-item-name {
    font-size: clamp(0.5rem, 5vw + 0.2rem, 3rem);
}

#edit-btn-icon {
    color: #82A3FF;
    font-size: clamp(0.5rem, 5vw + 0.2rem, 3rem);
    margin-top: 5px;
    margin-left: -10px;
} 

.show-page-image {
    width: 250px;
}

.show-notes {
    display: flex;
    justify-content: center;
    width: 50vw;
    height: 25vh;
    overflow-y: scroll;
    font-size: clamp(0.5rem, 3vw + 0.2rem, 2rem);
    text-align: center;
}

/*edit button default color is blue*/
#edit-btn-icon::before {
    color: #82A3FF;
}

/*edit button hover state is orange to allow desktop users to see clicking will edit*/
#edit-btn-icon:hover {
    color: #ffc982;
}

/*orange edit button active state (aka clicked) provided to show mobile users it was clicked*/
#edit-btn-icon:active {
    color: #ffc982;
}

/*Edit page styling*/
.edit-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        margin-top: -30px;
}

.edit-flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #82A3FF;
    font-weight: 700;
}

.edit-name, .edit-image, .edit-notes {
    width: 50vw;
    padding-left: 5px;
    font-size: clamp(0.5rem, 2vw + 0.2rem, 1.5rem);
    border: solid 2px #82A3FF;
}

.edit-image {
    margin-left: 2px;
}

.edit-name, .edit-notes {
    margin-left: 3px;
}

.edit-title {
    font-size: clamp(0.5rem, 5vw + 0.2rem, 3rem);
}

.edit-image-section {
    display: flex;
    align-items: center;
}

#image-info-symbol {
    font-size: clamp(0.5rem, 3.75vw + 0.2rem, 2.75rem);
    margin-left: 10px;
    margin-top: 2px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

/*tooltip text*/
.tooltip .tooltiptext {
    font-size: 1em;
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -275px;
    opacity: 0;
    transition: opacity 0.3s;
}

/*tooltip arrow*/
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: 115px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.edit-label {
    font-size: clamp(0.5rem, 3vw + 0.2rem, 2rem);
}

.edit-notes-section {
    display: flex;
    justify-content: center;
}

textarea {
    resize: none;
    height: 15vh;
}

.edit-submit-btn {
    margin: auto;
    font-size: clamp(0.5rem, 3.5vw + 0.2rem, 2rem);
    border: solid 2px #82A3FF;
    border-radius: 5px;
    color: #82A3FF;
    background-color: rgb(255, 253, 253);
}

.edit-submit-btn:hover, .edit-submit-btn:active {
    background-color: #ffc982;
}

/*Mobile Styling*/
@media only screen and (max-width: 480px) {
    .homepage-flexbox, .signin-flexbox, .register-flexbox {
        width: 75vw;
    }
}